body {
  background-color: #fafafe;
}

h1 {
  display: flex;
  justify-content: flex-start;
  color: #313660;
  font-family: "Signika";
  font-weight: 600;
  font-size: 1.7em;
  width: 100%;
  top: 0;
  position: fixed;
}

h2 {
  color: black;
  font-family: "Signika";
  font-weight: 550;
  padding-bottom: 2px;
}

h3 {
  color: black;
  font-family: "Signika";
  font-size: 1.8em;
  padding-left: 10em;
  font-weight: 600;
}

h4 {
  font-family: "Signika";
  font-weight: 500;
  color: black;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0;
}

h5 {
  font-family: "Signika";
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}

h6 {
  font-family: "Montserrat";
  font-size: 12.96px;
  padding: 5px;
  color: black;
  font-weight: 350;
  margin: 5px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

h7 {
  font-family: "Montserrat";
  color: #83909f;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 0;
  font-weight: 350;
}

p {
  font-family: "Signika";
  color: black;
}

hr {
  margin: 5px 5px;
  border: 0.5px solid gray;
  border-radius: 1;
}

a {
  font-family: "Signika";
  padding: 10px 0 0 22px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  height: 30px;
  border-radius: 20px 0px 0px 20px;
  transition: all 0.3s;
}

a:hover {
  background: #ffffff;
  color: #ef878d;
  transition: all 0.3s;
}

.curr-page {
  background: #fafafe;
  color: #ef878d;
  transition: all 0.3s;
}

ul {
  font-family: "Montserrat";
  font-size: 0.9em;
  color: black;
  padding-inline-start: 25px;
}

li {
  width: 100%;
  font-weight: 350;
  padding: 5px;
  font-size: 12.96px;
}
